.container {
  min-height: 100vh;
  padding: 7.5vh 15vw;
  background-color: orange;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 20px;
  border-left: 1px solid rgb(0,0,0,0.05);
}

.header {
  display: flex;
  border-radius: 10px;
  background-color: rgb(254, 236, 255);
  transition: all 0.5s;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  border-radius: 10px 10px 0px 0px;
}

.fita , .fita2 {
  width: 15px;
  background-color: rgba(61, 61, 61, 0.301);
  border-radius: 10px 0px 0px 0px;
}
.fita2 {
  border-radius: 15px 0px 0px 15px;
}
.title {
  font-size: 1.8vw;
  margin-left: 20px;
  padding: 10px;
  font-weight: 400;
}

.options {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 0px;
  margin-left: 4.5vw;
}

.option {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: rgb(253, 226, 255);
  text-align: center;
  letter-spacing: -1px;
  font-size: 14px;
  max-height: 50px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  cursor: pointer;
}

.icon {
  height: 15px;
}

.body {
  opacity: 0.4;
  transition:  opacity 0.5s;
  margin-top: 40px;
}

.unit {
  display: flex;
  height: 70px;
  /* background-color: rgb(247, 239, 248); */
  background-color: rgb(242, 248, 253);
  background-color: #fff;
  border-radius: 15px 15px 0px 15px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  transition: all 0.5s;
  cursor: pointer;
}


.unitcontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.infos {
  display: flex;
  justify-content: space-between;
  padding: 0.4vw;
  margin-left: 20px;
}



.unittitle {
  font-size: 1.4vw;
  font-weight: 400;
  transition: all 0.5s;
}

/* .unittitle:hover {
  color:rgb(150, 94, 255);
} */


.unitp {
  font-size: 1vw;
}

.abas {
  position: absolute;
  width: 100%;
  bottom: -22px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.aba {
  width: 15%;
  z-index: 2;
  /* background-color: rgb(247, 239, 248); */
  background-color: rgb(242, 248, 253);
  background-color: #fff;
  margin-left: 5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
  font-size: 13px;
  cursor: pointer;
}

.principalinfo {
  margin-right: auto;

}

.whats {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 17, 0.2);
  border-radius: 2px 10px 2px 10px;
  transition: all 0.5s;
  cursor: pointer;

}

.whats:hover {
  background-color: rgba(0, 255, 17, 0.4);
}

.cep {
  margin-right: 5vw;
  font-size: 1.3vw;
}



@media (max-width: 800px) {
  .container {
    padding: 20px 10px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px;
    border-left: none;
  }

  .header {
    display: flex;
  }

  .header:hover {
    transform: none;
  }
  

  
  .title {
    margin-left: 20px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
  }


.unit {
  margin-bottom: 35px;
  background-color: rgb(242, 248, 253);
  background-color: #fff;
}

.unit:hover {
  box-shadow: none;
}

.infos {
  display: flex;
  justify-content: space-between;
  padding: 1vw 1vw;

}

.unittitle {
  font-size: 3vw;
  font-weight: 500;
}

.unitp {
  line-height: 0.8;
  font-size: 2.8vw;
}

.abas {
  position: absolute;
  width: 100%;
  bottom: -22px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  
}

.aba {
  width: 21%;
  margin-left: 5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.15);
  font-size: 12px;
  background-color: rgb(242, 248, 253);
  background-color: #fff;
}

.whats {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 10px 2px 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.whats:hover {
  background-color: none;
}


.cep {
  margin-right: 3vw;
  font-size: 10px;
}





}


@media (max-width: 600px) {
  .title {
    margin-left: 0px;
    padding: 10px;
    font-size: 16px;
  }
  .unittitle {
    font-size: 3.1vw;
    font-weight: 500;
  }
  
  .unitp {
    line-height: 1;
    font-size: 3vw;
  }
}

.map {
  height: 200px;
  /* The height is 400 pixels */
  width: 550px;
  /* The width is the width of the web page */
}

@media ( max-width: 421px ){

  .map {
    height: 200px;
    /* The height is 400 pixels */
    width: 250px;
    /* The width is the width of the web page */
  }
  
}